.container{
  position: relative;
  left: 5%;
  width: 90%;
  background-color: black;
  margin-bottom: 2.5em;
  padding-top: 2em;
}

.chart_canvas {
  padding:0;
}

.heading {
  color: aliceblue;
  justify-self: center;
  font-size: 2em;
  padding-left: 2em;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
