.container{
  position: absolute;
  left: 20%;
  width: 60%;
  min-height: 100%;
  padding-top: 50px;
  background-color: #454341;
}

.hang-button {
  position: fixed;
  left:0;
  background-color: #4caf50;
  min-width: 8em;
  min-height: 3.4em;
  border: #08af62 solid 2px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.create {
  top:5%;
}

.delete {
  top:15%;
}

.hang-button:hover {
  background-color: white;
  color: #4caf50;
  cursor: pointer;
}

.hang-button:active {
  background-color: #fdffb3;
  color: #97af10;
  cursor: pointer;
}

.disable {
  cursor: progress !important;
}

.text {
  position: absolute;
  display: block;
  left:10%;
}
